<div class="flex flex-col min-h-screen w-full">
  <main class="flex-grow w-full flex flex-col">
    <app-hero-section id="inicio" class="block min-h-screen scroll-mt-24" />

    <app-features-section class="block py-10 2xl-py-20" />

    <app-about-section id="nosotros" class="block py-10 2xl-py-20 scroll-mt-24" />

    <app-services-section id="servicios" class="block py-10 2xl-py-20 scroll-mt-24" />

    <app-gallery-section id="galeria" class="block py-10 2xl-py-20 scroll-mt-24" />

    <app-reviews-section id="reseñas" class="block py-10 2xl-py-20 scroll-mt-24" />

    <app-contact-section id="contacto" class="block py-10 2xl-py-20 scroll-mt-24" />
  </main>

  <app-footer-section class="block w-full" />
</div>
