<div
  class="fixed bottom-25 lg:bottom-8 left-1/2 -translate-x-1/2 z-[60] transition-all duration-500 ease-in-out animate-bounce"
  style="animation-duration: 1s"
  [ngClass]="{
    'opacity-100 translate-y-0': isAtTop() || isPastHero(),
    'opacity-0 translate-y-10 pointer-events-none': !isAtTop() && !isPastHero(),
  }"
>
  <p-button
    [styleClass]="
      '!w-11 !h-11 md:!w-13 md:!h-13 2xl:!w-22 2xl:!h-22 transition-all duration-300 hover:scale-110 active:scale-95 flex items-center justify-center ' +
      (!isPastHero()
        ? '!bg-gradient-to-br !from-white !via-[var(--p-primary-50)]/40 !to-[var(--p-primary-100)]/80 !backdrop-blur-md !border !border-gray-200/80 !text-[var(--p-primary-700)] dark:!from-black/95 dark:!via-neutral-900/90 dark:!to-[var(--p-primary-900)]/30 dark:!border-neutral-800/80 dark:!text-gold-shine'
        : 'bg-gold-shine !border-none hover:brightness-110')
    "
    [rounded]="true"
    [raised]="true"
    [outlined]="isAtTop()"
    (click)="handleScrollAction()"
  >
    <ng-template #icon>
      <i
        [class]="
          (isPastHero() ? 'pi pi-arrow-up' : 'pi pi-arrow-down') +
          ' !text-sm md:!text-lg 2xl:!text-3xl'
        "
      ></i>
    </ng-template>
  </p-button>
</div>
