<div
  class="fixed bottom-25 md:bottom-8 left-1/2 -translate-x-1/2 z-40 transition-all duration-500 ease-in-out"
  [ngClass]="{
    'opacity-100 translate-y-0': isAtTop() || isPastHero(),
    'opacity-0 translate-y-10 pointer-events-none': !isAtTop() && !isPastHero(),
  }"
>
  <p-button
    severity="primary"
    [styleClass]="
      '!w-10 !h-10 md:!w-12 md:!h-12 2xl:!w-20 2xl:!h-20 transition-all duration-300 hover:scale-110 active:scale-95 ' +
      (!isPastHero() ? 'bg-white! dark:bg-black!' : '')
    "
    [rounded]="true"
    [raised]="true"
    [outlined]="isAtTop()"
    (click)="handleScrollAction()"
  >
    <ng-template #icon>
      <i
        [class]="
          (isPastHero() ? 'pi pi-arrow-up' : 'pi pi-arrow-down') +
          ' !text-sm md:!text-lg 2xl:!text-3xl'
        "
      ></i>
    </ng-template>
  </p-button>
</div>
