<div
  class="relative overflow-hidden min-h-screen flex items-center transition-colors duration-500 bg-[var(--p-surface-0)] dark:bg-[var(--p-surface-950)]"
>
  <div class="hidden dark:block absolute inset-0 pointer-events-none">
    <div class="absolute -left-12 top-1/2 -translate-y-1/2 flex flex-col gap-0 opacity-80">
      <div class="diamond anim-float"></div>
      <div class="diamond -mt-16 anim-float-delayed"></div>
      <div class="diamond -mt-16 anim-float"></div>
      <div class="diamond -mt-16 anim-float-delayed"></div>
    </div>
    <div class="absolute -right-8 -top-8 flex gap-4 opacity-80">
      <div class="diamond anim-float-delayed"></div>
      <div class="diamond mt-20 anim-float"></div>
      <div class="diamond anim-float-delayed"></div>
    </div>
  </div>

  <div class="block dark:hidden absolute inset-0 pointer-events-none">
    <div class="absolute -left-8 -top-8 flex gap-4 opacity-80">
      <div class="diamond anim-float"></div>
      <div class="diamond mt-20 anim-float-delayed"></div>
      <div class="diamond anim-float"></div>
    </div>
    <div class="absolute -right-12 top-1/2 -translate-y-1/2 flex flex-col gap-0 opacity-80">
      <div class="diamond anim-float-delayed"></div>
      <div class="diamond -mt-16 anim-float"></div>
      <div class="diamond -mt-16 anim-float-delayed"></div>
      <div class="diamond -mt-16 anim-float"></div>
    </div>
  </div>
  <div class="relative z-10 p-4 md:p-6 mx-auto max-w-7xl w-full">
    <div class="flex flex-col items-center justify-center gap-4">
      <div class="flex flex-col items-center justify-center">
        <img
          alt="{{ 'general.logo.alt' | translate }}"
          src="/assets/logo.png"
          width="150"
          height="150"
          class="rounded-full object-cover mr-2 block dark:hidden w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 mt-30 md:mt-0 drop-shadow-lg/25"
        />
        <img
          alt="{{ 'general.logo.alt' | translate }}"
          src="/assets/logo_dark.png"
          width="150"
          height="150"
          class="rounded-full object-cover mr-2 hidden dark:block w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 lg:w-50 lg:h-50 mt-30 md:mt-0"
        />
        <h1 class="text-4xl sm:text-5xl md:text-6xl !text-[var(--p-primary-color)] md:pt-0">
          Plato y Copa
        </h1>
        <span class="text-xs sm:text-sm md:text-base uppercase tracking-widest mt-4"
          >Servicio de meseros</span
        >
        <p class="text-center text-xs sm:text-sm md:text-base mt-8">
          {{ 'home.description' | translate }}
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 pt-2">
        @for (card of heroCards; track card) {
          <p-card
            styleClass="hero-card border border-[var(--p-primary-200)] dark:border-[var(--p-primary-900)] bg-transparent!"
          >
            <ng-template #header>
              <div class="flex justify-center pt-6 pb-0">
                <p-avatar
                  size="normal"
                  [icon]="card.icon"
                  shape="circle"
                  styleClass="!bg-[var(--p-primary-color)] !text-[var(--p-primary-contrast-color)]"
                />
              </div>
            </ng-template>
            <div class="text-center p-0">
              <h5 class="text-sm md:text-base mb-4 font-bold">{{ card.title }}</h5>
              <p class="text-xs md:text-sm">{{ card.description }}</p>
            </div>
            <ng-template #footer>
              <div class="flex justify-end">
                <p-button icon="pi pi-arrow-right" link />
              </div>
            </ng-template>
          </p-card>
        }
      </div>
      <div class="flex flex-col sm:flex-row justify-center gap-4 pt-4">
        <p-button
          icon="pi pi-calendar-clock"
          variant="outlined"
          [rounded]="true"
          [label]="'home.button.book' | translate"
          class="w-full sm:w-auto"
          styleClass="!text-sm md:!text-base !px-4 md:!px-6 !py-2 md:!py-3"
        />

        <p-button
          icon="pi pi-envelope"
          [rounded]="true"
          [label]="'home.button.contact' | translate"
          class="w-full sm:w-auto"
          styleClass="!text-sm md:!text-base !px-4 md:!px-6 !py-2 md:!py-3"
        />
      </div>
    </div>
  </div>
</div>
