<p-toolbar class="!py-2 md:!py-0">
  <ng-template #start>
    <p-button variant="text" severity="warn" routerLink="/">
      <img
        alt="{{ 'general.logo.alt' | translate }}"
        src="/assets/Logo.jpg"
        class="h-10 w-10 rounded-full object-cover mr-2"
      />
      <div class="hidden md:flex flex-col items-center">
        <h4 class="text-[#e5c76b] text-sm">Plato y Copa</h4>
        <span class="text-xs text-black dark:text-white">Servicio de meseros</span>
      </div>
    </p-button>
  </ng-template>
  <ng-template #center>
    <div class="hidden md:block">
      <p-tabs value="/">
        <p-tablist>
          @for (tab of tabs; track tab.route) {
            <p-tab
              class="flex items-center !gap-2 text-inherit"
              [value]="tab.route"
              [routerLink]="tab.route"
            >
              <i [class]="tab.icon"></i>
              <span>{{ tab.label }}</span>
            </p-tab>
          }
        </p-tablist>
      </p-tabs>
    </div>
  </ng-template>
  <ng-template #end>
    <div class="flex gap-2">
      <p-button
        icon="pi pi-search"
        variant="text"
        severity="warn"
        rounded="true"
        routerLink="/"
        tooltipPosition="bottom"
        [pTooltip]="'general.searchBtn' | translate"
      />
      <p-button
        label="{{ 'general.quotationBtn' | translate }}"
        icon="pi pi-calculator"
        severity="warn"
        rounded="true"
        class="hidden md:block"
      />
      <p-button
        icon="pi pi-calculator"
        severity="warn"
        rounded="true"
        class="block md:hidden"
        tooltipPosition="bottom"
        [pTooltip]="'general.quotationBtn' | translate"
      />
      <p-button
        icon="pi pi-sun"
        variant="text"
        severity="warn"
        rounded="true"
        tooltipPosition="bottom"
        [pTooltip]="'general.themeChangeBtn' | translate"
      />
    </div>
  </ng-template>
</p-toolbar>
